@font-face {
  font-family: "PlayfairDisplay";
  src: url('../assets/fonts/PlayfairDisplay-Black.woff2') format('woff2');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #000000;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
}

picture {
  display: block;
}

button,
input {
  font: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: none;
}

.container {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 1.5em;
}

.header {
  padding: 2em 0;
}

.title {
  margin: 0;
  line-height: 1.3em;
  text-align: center;
  font-family: "PlayfairDisplay", serif;
}

.slider {
  min-height: 80vh;
  padding-bottom: 7%;
}

.slider__radio {
  display: none;
}

[id="radio1"]:checked ~ .slider__inner [for="radio1"] .slider__label-body,
[id="radio2"]:checked ~ .slider__inner [for="radio2"] .slider__label-body,
[id="radio3"]:checked ~ .slider__inner [for="radio3"] .slider__label-body,
[id="radio4"]:checked ~ .slider__inner [for="radio4"] .slider__label-body,
[id="radio5"]:checked ~ .slider__inner [for="radio5"] .slider__label-body {
  background-color: #ffffff;
}

.slider__label-wrapper {
  display: flex;
}

.slider__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.3em;
  height: 2.3em;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slider__label:not(:last-child) {
  margin-right: 0.5em;
}

.slider__label-body {
  display: block;
  width: 55%;
  height: 55%;
  border-radius: 50%;
  background-color: #082567;
  border: 0.17em solid transparent;
  box-shadow: -0.27em 0 0.3em 0.05em rgb(0 0 0 / 30%);
  transition: background-color ease-in-out 0.4s, border ease-in-out 0.4s, opacity ease-in-out 0.4s;
}

.slider__label:hover .slider__label-body {
  border-color: #ffffff;
}

.slider__label:active .slider__label-body {
  opacity: 0.4;
}

.slider__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 40em;
  margin: 0 auto;
  overflow: hidden;
}

.images-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1em;
  list-style: none;
  transition: transform ease-in-out 0.4s;
}

.images-list__item {
  max-width: 100%;
}

.images-list__img {
  display: block;
  max-height: 29em;
  border-radius: 0.5em;
}

.slider__descr {
  display: flex;
  width: 100%;
}

.text-list {
  display: flex;
  max-width: 22em;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform ease-in-out 0.4s;
}

.slider__text-wrapper {
  margin-right: auto;
  overflow: hidden;
}

.text-list__item {
  flex-shrink: 0;
  width: 100%;
}

.text-list__text {
  margin: 0;
  font-size: 1.2em;
}

[id="radio1"]:checked ~ .slider__inner .images-list {
  transform: translateX(0);
}

[id="radio2"]:checked ~ .slider__inner .images-list {
  transform: translateX(-40em);
}

[id="radio3"]:checked ~ .slider__inner .images-list {
  transform: translateX(-80em);
}

[id="radio4"]:checked ~ .slider__inner .images-list {
  transform: translateX(-120em);
}

[id="radio5"]:checked ~ .slider__inner .images-list {
  transform: translateX(-160em);
}


[id="radio1"]:checked ~ .slider__inner .text-list {
  transform: translateX(0);
}

[id="radio2"]:checked ~ .slider__inner .text-list {
  transform: translateX(-22em);
}

[id="radio3"]:checked ~ .slider__inner .text-list {
  transform: translateX(-44em);
}

[id="radio4"]:checked ~ .slider__inner .text-list {
  transform: translateX(-66em);
}

[id="radio5"]:checked ~ .slider__inner .text-list {
  transform: translateX(-88em);
}

@media (max-width: 767px) {
  .container {
    max-width: 100vw;
    padding: 0 1em;
  }

  .title {
    font-size: 1.7em;
  }


  .slider__inner {
    max-width: 25em;
  }

  .slider__descr {
    flex-direction: column-reverse;
    align-items: center;
  }

  .slider__label-wrapper {
    margin-bottom: 1em;
  }

  .slider__text-wrapper {
    margin: 0 auto;
  }

  .text-list__text {
    font-size: 1em;
    text-align: center;
  }

  [id="radio1"]:checked ~ .slider__inner .images-list {
    transform: translateX(0);
  }
  
  [id="radio2"]:checked ~ .slider__inner .images-list {
    transform: translateX(-25em);
  }
  
  [id="radio3"]:checked ~ .slider__inner .images-list {
    transform: translateX(-50em);
  }
  
  [id="radio4"]:checked ~ .slider__inner .images-list {
    transform: translateX(-75em);
  }
  
  [id="radio5"]:checked ~ .slider__inner .images-list {
    transform: translateX(-100em);
  }
}

@media (max-width: 440px) {
  .slider__inner,
  .text-list {
    max-width: 18em;
  }

  .images-list__img {
    max-width: 18em;
  }

  [id="radio1"]:checked ~ .slider__inner .images-list,
  [id="radio1"]:checked ~ .slider__inner .text-list {
    transform: translateX(0);
  }
  
  [id="radio2"]:checked ~ .slider__inner .images-list,
  [id="radio2"]:checked ~ .slider__inner .text-list {
    transform: translateX(-18em);
  }
  
  [id="radio3"]:checked ~ .slider__inner .images-list,
  [id="radio3"]:checked ~ .slider__inner .text-list {
    transform: translateX(-36em);
  }
  
  [id="radio4"]:checked ~ .slider__inner .images-list,
  [id="radio4"]:checked ~ .slider__inner .text-list {
    transform: translateX(-54em);
  }
  
  [id="radio5"]:checked ~ .slider__inner .images-list,
  [id="radio5"]:checked ~ .slider__inner .text-list {
    transform: translateX(-72em);
  }
}